.body {
    font-family: "Lato";
}
.not-visible {
    display: none;
}
.header {
    position: fixed;
    background-color: #264653;
    height: 20%;
    width: 100%;
    text-align: center;
    margin: auto;
}
.header-text {
    color: white;
    /* text-align: bottom; */
    font-size: 250%;
    margin: auto;
}
.fields-wrapper {
    padding-top: 10%;
    padding-left: 5%;
}
.signup-submit {
    background-color: #E9C46A;
    margin-left: 5%;
}
.username-wrapper .password-wrapper .age-wrapper .sex-wrapper .allergies-wrapper .dietary-wrapper .starting-wrapper .ending-wrapper .daily-budget {
    border: 15px solid #264653;
}
.login-wrapper {
    padding-top: 10%;
    padding-left: 5%;
}
#login-button {
    background-color: #E9C46A;
}
#signup-button {
    background-color: #E9C46A;
}
.progress-counter {
    padding-top: 15%;
    padding-left: 40%;
}
.decrement {
    background-color: #E9C46A;
    margin-left: 49%;
}
